* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #efe1f3;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  padding: 20px;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 900;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  text-align: center;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
}

h1 {
  margin: 10px 0;
  color: #2d034c;
}

h2 {
  color: #3a0560;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
}

button {
  background-color: #3a0560;
  color: #efe1f3;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
p {
  color: #2d034c;
}

button:hover {
  background-color: #34495e;
}
